body {
    font-family: 'Mukta', sans-serif;
    color:white;
}

.navbar-color {
    background-color: #2C3E4F;
}

.navbar-color a{
    opacity: 0.8;
    transition: 0.5s;
}

.navbar-color a:hover{
    opacity: 1;
}

.navbar-color a:focus {
    opacity: 1;
}

.img-cow {
    vertical-align: middle;
    width:40px;
}

.img-milk {
    width:20px;
}

.navbar-toggler:focus {
    outline: none;
}

.second-col h4{
    color: #24305E;
}

.first-col {
    background-color: #1abc9c;
}

li {
    list-style-type: none;
}

.second-col a, ul {
    color: #24305E;
}

.products-box ul{
    margin-right: 20px;
    width: 200px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    opacity: 0.8;
}

.products-box ul:hover {
    opacity: 1;
}

.footer{
    background-color: #2C3E4F;
}
